smartcart_nodered_flow.json
[
  {
    "id": "predict_flow",
    "type": "tab",
    "label": "ML Predict",
    "disabled": false,
    "info": ""
  },
  {
    "id": "inject_basket",
    "type": "inject",
    "z": "predict_flow",
    "name": "Send basket",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"basket\": [0, 2, 1, 0, 0, 3, 1, 0, 1]}",
    "payloadType": "json",
    "x": 150,
    "y": 100,
    "wires": [
      ["http_predict"]
    ]
  },
  {
    "id": "http_predict",
    "type": "http request",
    "z": "predict_flow",
    "name": "POST /predict",
    "method": "POST",
    "ret": "obj",
    "url": "http://smartcart_ml_service:5001/predict",
    "headers": [],
    "x": 350,
    "y": 100,
    "wires": [
      ["debug_result"]
    ]
  },
  {
    "id": "debug_result",
    "type": "debug",
    "z": "predict_flow",
    "name": "Prediction result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "complete": "payload",
    "x": 550,
    "y": 100,
    "wires": []
  }
]
